<div class="gg-pool">

	<% @digitales.each do |digitale| %>
	  <% i = rand(0..3) %>
	  <% i.times do %>
	  	<div class="gg-pool-hidden-card" style="height: <%= rand(125..750) %>px;"></div>
	  <% end %>

	 <% j = rand(1..3) %>

	 <% case j %>
	 <% when 1 %>
	 	<div class="gg-pool-card-primary" style="height: 600px;"><%= digitale %></div>
	 <% when 2 %>
	 	<div class="gg-pool-card-secondary" style="height: 600px;"><%= digitale %></div>
	 <% when 3 %>
	 	<div class="gg-pool-card-tertiary" style="height: 600px;"><%= digitale %></div>
	 <% end %>

	 <% if digitale == @digitales.last %>
	 	<% k = 4 - i %>
	 <% else %>
	 	<% k = 4 - i - 1 %>
	 <% end %>

	 <% k.times do %>
	 	<div class="gg-pool-hidden-card" style="height: <%= rand(125..750) %>px;"></div>
	 <% end %>
	<% end %>

	<div class="gg-pool-card-secondary" style="height: 66px;">generate new pool</div>
	
</div>