<div id="editDigitaleWhatIfForm">
  <%= form_with model: @what_if, method: 'put', authenticity_token: true, class: "nodeform" do |f| %>
    <%= hidden_field_tag(:digitale, digitale) %>
    <%= label_tag(:content, "w h a t | i f", class: "gg-label") %>
    <%= text_field_tag(:content, node.title, class: "form-text-input w-100 text-center text-muted") %>
     <%= label_tag(:description, "d e s c r i p t i o n", class: "gg-label") %>
     <div class="gg-textarea">
     	<%= text_area_tag(:description, node.content, size: "48x5", class: "form-textarea-input text-center text-muted") %>
     </div>
      <%= submit_tag('e d i t', class: "btn gg-button btn-lg btn-block") %>
    <% end %>
</div>