<div id="editDigitaleTitleForm">
  <%= form_with model: @node, method: 'put', authenticity_token: true, class: "nodeform" do |f| %>
    <%= label_tag(:content, "t i t l e") %>
    <%= text_field_tag(:content, node.title, class: "form-text-input w-50 text-center text-muted") %>
    <%= label_tag(:description, "d e s c r i p t i o n") %>
    <%= text_area_tag(:description, node.content, size: "24x6", class: "form-textarea-input w-50 text-center text-muted") %>
    <%= submit_tag('e d i t', class: "btn btn-outline-secondary btn-lg btn-block") %>
  <% end %>
</div>