<div class='d-flex flex-wrap justify-content-between' style='margin: 200px'>
  <div class="col-sm-8 col-xs-1 border-right border-primary">
    <div class="card" >
      <div class="card-header"> <%= Faker::Name.first_name %>
      <%= @node.created_at%> </div>
      <div class="card-body"> 
        <h4 class="card-title"><%= @node.title %></h4>
        <p class="card-text"><%= @node.content %></p>
      </div>
      <img class='card-img-bot' src='https://vignette.wikia.nocookie.net/lovecraft/images/0/03/Cthulhu_%28Andr%C3%A9e_Wallin%29.jpg/revision/latest?cb=20190713054520'>
    </div>
  </div>
  <div class="col-sm-4 col-xs-1 d-flex flex-column justify-content-around">
    <%= link_to "action-1", "#", class:"btn btn-success"%>
    <%= link_to "action-2", "#", class:"btn btn-danger"%>
    <%= link_to "action-3", "#", class:"btn btn-primary"%>
    <%= link_to "action-4", "#", class:"btn btn-secondary"%>
    <%= link_to "action-5", "#", class:"btn btn-info"%>
  </div>
</div>
