<div class='d-flex flex-wrap justify-content-between'>
  <div class="col-sm-8 col-xs-1 d-flex flex-column ">
      <% @node.achievements.each do |achievement|  %>
      <ul><h4><%=achievement.achievement_category.name%></h4>
      <% achievement.microservices.each do |microservice| %>
        <% status = "text-primary "%>
        <li class="<%= status %>"><%= microservice.microservice_category.name%></li>
      <%end%>
      </ul>
    <%end%>
  </div>
  <div class="col-sm-4 col-xs-1 border-right border-primary">
    <% @achievments_status.keys.each do |achievement|  %>
      <ul><h4 class="<%=achievement[1]%>"><%=achievement[0]%></h4>
      <% @achievments_status[achievement].each do |microservice| %>
        <li class="<%=%>"> <%=microservice%></li>
      <%end%>
      </ul>
    <%end%>
  </div>
</div>

    <%= render 'nodes/show'%>

