<div class='d-flex flex-wrap justify-content-between'>
  <div class="col-sm-8 col-xs-1 d-flex flex-column ">
      <% @node.achievements.each do |achievement|  %>
      <ul><h4><%=achievement.achievement_category.name%></h4>
      <% achievement.microservices.each do |microservice| %>
        <% status = "text-primary "%>
        <li class="<%= status %>"><%= microservice.microservice_category.name%></li>
      <%end%>
      </ul>
    <%end%>
  </div>
  <div class="col-sm-4 col-xs-1 border-right border-primary">
    <% @achievements.length.times do |i|  %>
      <% @status_achievement = "text-primary" if @achievements[i] == @achievements_node.keys[i]%>
      <ul><h4 class="<%= @status_achievement %>"><%=@achievements[i]%> <%= @status_achievement %></h4>
      <% @microservices.each do |microservice| %>
        <%  @node.achievements%>
        <% @status_microservice = "text-secondary"%>
        <li class="<%= @status_microservice %>"> <%=microservice[0]%></li>
      <%end%>
      </ul>
    <%end%>
  </div>
</div>

    <%= render 'nodes/show'%>

