<div class="text-center holy"> 
  <i class="fas fa-5x mb-3 fa-user-astronaut"></i>
  <h1 class="mb-5"> p r o v i d e </h1>
  <h3 class="mb-3">this is your creatrix dashboard</h3> 
  <h4 class="mb-1">here you can edit your details and provide a portfolio for the microservices you deliver</h4>
  <h4 class="mb-1">you will receive here the requests other creatrixes will send you</h4>
  <h4 class="mb-5">you will have an access to the history of your digitales and donations</h4>
</div>

<div class="row">

  <div class="padding-creatrixes col-12 col-md-4 float-lg-right">
    
    <div  id="flex-profile" class="sticky">
    <%if @creatrix.avatar.attached?%>
    <a data-toggle="collapse" data-target="#collapse" href="tollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
      <div><%= image_tag @creatrix.avatar, alt: 'avatar', class: "img-fluid", id: "avatar-image" %></div>
    </a>
    <%end%>
    
    <div class="collapse"  id="collapse">
      <%= form_tag creatrix_avatars_path(@creatrix),  multipart: true do %>
      <p class="text-center"> Update your profile picture </p>
      <div class="text-center"> <%= file_field_tag :avatar, class: "btn btn-secondary" %> </div>
      <div class="text-center"> <%= submit_tag "Update", class: "btn btn-secondary" %> </div>
      <% end %>
    </div>

      <div><h2 class="gg-title"><%= @creatrix.hexanyme %></h2></div>
      <p-lead class="lead"></p-lead>    
      <% if @creatrix == current_creatrix %>
        <div id="creatrix-details d-flex">
          <p class="mt-3 text-center"><strong> email </strong>: <%= @creatrix.email %></p>
          <div> <%= link_to "e d i t", edit_creatrix_registration_path, class: 'gg-button text-center mb-4', id:"button-profile" %> </div>
          <div> 
            <%= link_to "r e q u e s t . s", "#requests", class: "btn btn-primary mt-3 holy", id: "button-profile"%>
            <%= link_to "m i c r o s e r v i c e . s", "#microservices", class: "btn btn-primary mt-3 holy", id: "button-profile"%>
            <%= link_to "d i g i t a l e . s", "#nodes", class: "btn btn-primary mt-3 holy", id: "button-profile"%>
            <%= link_to "d o n a t i o n . s", "#donations", class: "btn btn-primary mt-3 holy", id: "button-profile"%>
          </div> 
        </div> 
    </div>
    <% end %>
  </div>


  <div class='col-12 col-md-8 padding-creatrixes'>
    <div class='text-center' id="requests">
      <h3 class="text-center holy padding-creatrixes">r e q u e s t . s</h3>
    </div>
    <div class="d-flex flex-column holy padding-creatrixes">
      <% @microservice_requests.each do |microservice_request| %>
        <%= render "microservice_requests/card", microservice_request: microservice_request%>
      <%end%>
    </div>
    <div class='text-center'>
      <h3 id='microservices' class="text-center holy mb-4">m i c r o s e r v i c e . s</h3>
    </div>
    <%= render "microservices/new"%>
    <div class='text-center holy' id="nodes">
      <h3 class="text-center padding-creatrixes mb-3">d i g i t a l e . s</h3>
      <div id="flex-digitales">
        <% @digitales.each do |digitale|%>
          <div class="gg-pool-card-secondary" style="height: 600px; width: 250px"> 
            <h4><%= digitale.title %></h4>
            <%= link_to digitale_path(digitale.id), class: "gg-title d-flex flex-column" do %>
              <i class="fas fa-hand-holding-usd mb-3"></i>	
              creep in 
            <% end %>
          </div>
        <%end%>
      </div>  
    </div>

    <div class='text-center holy' id="donations">
      <h3 class="text-center padding-creatrixes">d o n a t i o n . s</h3>
        <p class="mt-3 mb-3"> You have made <%= @donated_sums.length%> donations</p>

        <%@donated_sums.each do |donated_sum|%>
          <div class="gg-pool-card-secondary" style="height: 250px; width: 210px"> 
            <h4><%=donated_sum.fundraiser.microservice_request.achievement.node.title%></h4> </a>
            <div> <h3><%=donated_sum.sum%> $</h3></div>
              <%= link_to digitale_path(donated_sum.fundraiser.microservice_request.achievement.node.digitale.id), class: "d-flex flex-column" do %>
                <i class="fas fa-hand-holding-usd mb-3"></i>	
                creep in 
              <% end %>
            </div>
        <%end%>
      </div>  
    </div>
  </div>
</div>