<div class="row">
  <div class="col-12 col-md-4 float-lg-right">
    <%if @creatrix.avatar.attached?%>
      <%= image_tag @creatrix.avatar, alt: 'avatar', class: "img-fluid", id: "avatar-image" %>
    <%end%>
    <h5><%= @creatrix.itself.hexanyme %></h5>
    <p-lead class="lead"></p-lead>    
    <% if @creatrix == current_creatrix %>
      <div id="creatrix-details d-flex">
        <h3>My details: </h3>
        <p><strong> Email address </strong>: <%= @creatrix.email %></p>
        <%= link_to "e d i t", edit_creatrix_registration_path, class: 'btn btn-secondary' %>           
      </div> 
    <% end %>
  </div>
  <div class='col-12 col-md-8 padding-creatrixes'>
    <h3 class="text-center holy">m i c r o s e r v i c e . s</h3>
    <%= render "microservices/new"%>
    <h3 class="text-center holy padding-creatrixes">r e q u e s t . s</h3>
    <div class="d-flex flex-wrap text-center holy padding-creatrixes">
      <% @microservice_requests.each do |microservice_request| %>
        <div class='card m-2' style='width: 15em'>
          <div class='card-header'>
            <%= render "microservices/media_display", microservice: microservice_request.microservice %>
          </div>
          <div class='card-body'>
            <ul>
              <li><%=microservice_request.achievement.achievement_category.name %></li>
              <li><%=microservice_request.microservice.microservice_category.name %></li>
              <li>price : <%= microservice_request.microservice.price %> $</li>
            </ul>
          </div>
          <div class='card-footer' id='microservice_request#<%=microservice_request.id%>'>
            <%= render "microservice_requests/form", microservice_request: microservice_request%>
          </div>
        </div>
      <%end%>
    </div>
    <h3 class="text-center holy padding-creatrixes">n o d e . s</h3>
    <% @creatrix.nodes.each do |node| %>
      <h3><%= link_to node.title, node_path(node.id)  %></h3>
      <h6><%= node.achievements.count.to_s %> achievements out of 21</h6>
      <p><%= node.content %></p>
      <p></p>
    <% end %>
    <h3 class="text-center holy padding-creatrixes">d o n a t i o n . s</h3>
    <h4>Petite pasteque en fleurs</h4>
    <p>Far far away, behind the word...</p>
    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com/search?q=fleurs+de+past%C3%A8que&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiihuX9h-7rAhVNRBoKHd6ADhMQ_AUoAXoECAwQAw&biw=1440&bih=766">Go to node</a></div>
    <h4>Petite pasteque en fleurs</h4>
    <p>Far far away, behind the word...</p>
    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com/search?q=past%C3%A8que+art&tbm=isch&ved=2ahUKEwjbub-HiO7rAhUL_4UKHUp9CxUQ2-cCegQIABAA&oq=past%C3%A8que+art&gs_lcp=CgNpbWcQAzIECAAQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeOgIIAFDdlgNYzrQDYM21A2gAcAB4AIABP4gBkQKSAQE1mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=6ThiX5uhOov-lwTK-q2oAQ&bih=766&biw=1440">Go to node</a></div>
    <h4>Petite pasteque en fleurs</h4>
    <p>Far far away, behind the word...</p>
    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com/search?q=watermelon+dog+head&tbm=isch&ved=2ahUKEwjaqovYiO7rAhUP0BoKHQR4DVUQ2-cCegQIABAA&oq=watermelon+dog+head&gs_lcp=CgNpbWcQAzICCAAyCAgAEAgQBxAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeOgYIABAHEB5QkRhYxC5grC9oAnAAeACAATeIAZcBkgEBM5gBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=kjliX9qZO4-ga4TwtagF&bih=766&biw=1440">Go to node</a></div>
  </div>
<div>