<div id="profile-block">

    <div id="avatar">
        <%if @creatrix.avatar.attached?%>
            <%= image_tag @creatrix.avatar, alt: 'avatar', class: "img-fluid", id: "avatar-image" %>
        <%else%>
            no pics
        <%end%>
        <h2><%= @creatrix.itself %></h2>
        <p class="lead"></p>    
    </div>
    
    <% if @creatrix == current_creatrix %>
        <div id="creatrix-details">
            <h3>My details: </h3>
            <p><strong> Email address </strong>: <%= @creatrix.email %></p>
              <a class="btn btn-secondary" href="#">
                e d i t
              </a></p>              
        </div>  
    <% end %>      

    <div id="in-page-links" class="mt-4">
        <div><a href="#microservices"> m i c r o s e r v i c e . s </a> </div>
        <div><a href="#fundraising-block"> n o d e . s </a> </div>
        <!--<div><a href="#my-creations-block"> My creations </a> </div>-->
        <div><a href="#my-participations-block"> d o n a t i o n . s </a> </div>
    </div>

</div>
<div id="microservices">
  <div class='container'>
    <h1 class="text-center">m i c r o s e r v i c e . s</h1>
    <%= render "microservices/new"%>
    <h1 class="text-center">r e q u e s t . s</h1>
    <div class='d-flex flex-wrap'>
      <% @microservice_requests.each do |microservice_request| %>
        <div class='card m-2' style='width: 15em'>
          <div class='card-header'>
            <%= render "microservices/media_display", microservice: microservice_request.microservice %>
          </div>
          <div class='card-body'>
            <ul>
              <li><%=microservice_request.achievement.achievement_category.name %></li>
              <li><%=microservice_request.microservice.microservice_category.name %></li>
              <li>price : <%=(microservice_request.microservice.price.to_f / 100).ceil(2)  %> $</li>
            </ul>
          </div>
          <% if microservice_request.fundraisers.last && microservice_request.fundraisers.last.funded? %>
            <div class='card-footer'>
              <%= form_with model: microservice_request, id: "form_request#{@y}", url: microservice_request_path(microservice_request.id),method: "patch" do |f| %>
                <%= hidden_field(:microservice_request, :media, :value => true) %>
                <% case microservice_request.microservice.microservice_category.media_type%>
                <% when "image"%>
                  <%= f.label :art_work, "image" %> :
                  <%= f.fields_for :art_work  do |p| %>
                      <%= p.file_field :art_work , :multiple => true, name: :art_work %>
                  <% end %>
                <% when "video"%>
                  <%= f.label :youtube,"youtube link" %> :
                  <%= f.text_field :youtube, style: "width: 20em"%>        
                <% when "sound"%>
                  <%= f.label :soundcloude,"soundcloude embed share code" %> :
                  <%= f.text_field :soundcloude, style: "width: 20em"%>   
                <% when "text"%>
                  <%= f.hidden_field :quill, id: "post-quill#{@y}", required: true %>
                  <div id="editor-container" hidden="true"></div>
                  <div id="editor<%=@y%>"></div>
                  <script>
                    var form_request = document.querySelector('#form_request<%=@y%>');
                    var quill = new Quill('#editor<%=@y%>', {
                      theme: 'snow'
                    });
                    form_request.onsubmit = function() {
                      document.querySelector('#post-quill<%=@y%>').value = document.querySelector('#form_request<%=@y%>').children[7].children[0].innerHTML;
                    };
                  </script>  
                <%end%>
                <%= submit_tag("Upload youre work") %>
              <%@y += 1%>
              <% end %>
            </div>
          <% elsif microservice_request.accepted? %>
            <div class='card-footer'>
              <p>Founding in progress</p>
            </div>
          <% else %>
            <%= form_with(url: microservice_request_path(microservice_request.id), method: "patch")  do |f| %>
              <%= hidden_field(:microservice_request, :accepted, :value => true) %>
              <%= submit_tag("Accept request", class: 'card-footer btn btn-primary' ) %>
            <% end %>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>  
</div>

<div id="fundraising-block" class="container d-flex flex-column justify-content-center">
        <div>
            <h1 class="text-center">n o d e . s</h1>
                <div class="p-5" id="box-drop-shadow">
                <h2></h2>
                <br>
                <% @creatrix.nodes.each do |node| %>
                    <h3><%= link_to node.title, node_path(node.id)  %></h3>
                    <h6><%= node.achievements.count.to_s %> achievements out of 21</h6>
                    <p><%= node.content %></p>
                    <p></p>
                <% end %>
                </div>
        </div>
</div>


<div id="my-participations-block" class="container">
        <div>
            <h1 class="text-center">d o n a t i o n . s</h1>
            <div class="row text-left mt-5 justify-content-between">
                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>

                 <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>


                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>

            
            </div>
        </div>
</div>

