<div id="profile-block">

    <div id="avatar">
        <img alt="image" class="img-fluid" id="avatar-image" src="https://f4.bcbits.com/img/0006103509_10.jpg">
        <h2><%= @creatrix.itself %></h2>
        <p class="lead"></p>    
    </div>
    
    <% if @creatrix == current_creatrix %>
        <div id="creatrix-details">
            <h3>My details: </h3>
            <p><strong> Email address </strong>: <%= @creatrix.email %></p>
              <a class="btn btn-secondary" href="#">
                e d i t
              </a></p>
                      <div class="btn btn-outline-primary btn-lg btn-block" href="#">ADD A MICROSERVICE</div>

        </div>  

    <% end %>      

    <div id="in-page-links" class="mt-4">
        <div><a href="#microservices"> m i c r o s e r v i c e . s </a> </div>
        <div><a href="#fundraising-block"> n o d e . s </a> </div>
        <!--<div><a href="#my-creations-block"> My creations </a> </div>-->
        <div><a href="#my-participations-block"> d o n a t i o n . s </a> </div>
    </div>

</div>

<div id="microservices">

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
    <div class="container">
        <div id="accordion">
          <!--< AchievementCategory.all.each do |cat| > -->
            
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">CREATIVE WRITING</button>
                  </h5>
                </div>
               <!-- < @creatrix.microservices.each do |microservice| >
                    < if cat.microservice_categories.include?(microservice.microservice_category) == true >-->
                
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

                            <% @creatrix.microservices.each do |microservice|%>
                    <% if AchievementCategory.find(1).microservice_categories.include?(microservice.microservice_category) == true %>

                          <div class="card-body">
                            <p><%= microservice.microservice_category.name %></p>
                            <p><%= microservice.microservice_category.description %></p>
                            <p><%= microservice.price %></p>
                            <hr>
                          </div>
                        </div>
                    <!--< end >
                < end >-->

              </div>
            <!--< end >
        </div>
    </div>-->

         <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  2D DIGITAL ART
                </button>
              </h5>
            </div>

           
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

                 <% @creatrix.microservices.each do |microservice|%>
                    <% if AchievementCategory.find(2).microservice_categories.include?(microservice.microservice_category) == true %>

              <div class="card-body">
                <p><%= microservice.microservice_category.name %></p>
                <p><%= microservice.microservice_category.description %></p>
                <p><%= microservice.price %></p>
                            
                <hr>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  3D DIGITAL ART
                </button>
              </h5>
            </div>

            
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">

                <% @creatrix.microservices.each do |microservice|%>
                    <% if AchievementCategory.find(3).microservice_categories.include?(microservice.microservice_category) == true %>


              <div class="card-body">
                <p><%= microservice.microservice_category.name %></p>
                <p><%= microservice.microservice_category.description %></p>
                <p><%= microservice.price %></p>
                            
                <hr>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  ACTING
                </button>
              </h5>
            </div>

            
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">

                <% @creatrix.microservices.each do |microservice|%>
                <% if AchievementCategory.find(4).microservice_categories.include?(microservice.microservice_category) == true %>

              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                <hr>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  EDITING
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">

                <% @creatrix.microservices.each do |microservice|%>
                <% if AchievementCategory.find(5).microservice_categories.include?(microservice.microservice_category) == true %>

              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                <hr>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  COMPOSING
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">

                <% @creatrix.microservices.each do |microservice|%>
                <% if AchievementCategory.find(6).microservice_categories.include?(microservice.microservice_category) == true %>

              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                <hr>
              </div>
            </div>
          </div>


        </div>
    </div>



<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

        <div>
            <div class="row text-right align-items-center">
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left p-5">
                <h1>m i c r o s e r v i c e . s</h1>
                <% @creatrix.microservices.each do |microservice| %>
                    <div class="row">
                        <div class="mt-3">
                            <h5> <%= microservice.microservice_category.name %> </h5>
                            <p><%= microservice.microservice_category.description %></p>
                            <p><%= microservice.price %>
                            <p class="btn btn-outline-primary btn-lg btn-block">p o r t f o l i o</p>
                        </div>
                    </div>
                <% end %>
            </div>
                
            </div>
        </div>
</div>

<div id="fundraising-block">
        <div>
            <h1>n o d e . s</h1>
            <div class="row text-left mt-5 justify-content-between">
            <div class="col-6">
                <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                <h2></h2>
                <br>
                <% @creatrix.nodes.each do |node| %>
                    <h3><%= link_to node.title, node_path(node.id)  %></h3>
                    <h6><%= node.achievements.count.to_s %> achievements out of 21</h6>
                    <p><%= node.content %></p>
                    <p></p>
                <% end %>
                </div>
            </div>
            </div>
        </div>
</div>

<div id="my-creations-block">
        <div>
            <h1>My creations</h1>
            <div class="row text-left mt-5 justify-content-between">
                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Participants</h5>
                    <p>Far far away, behind the word moun, far from the country Vokalia, there live the blind texts.</p>
                    <p class="float-right">Créé le 08/09/2020</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">See all</a></div>
                    </div>
                </div>

                 <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Participants</h5>
                    <p>Far far away, behind the word moun, far from the country Vokalia, there live the blind texts.</p>
                    <p class="float-right">Créé le 08/09/2020</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">See all</a></div>
                    </div>
                </div>

                  <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Participants</h5>
                    <p>Far far away, behind the word moun, far from the country Vokalia, there live the blind texts.</p>
                    <p class="float-right">Créé le 08/09/2020</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">See all</a></div>
                    </div>
                </div>
            
            </div>
        </div>
</div>

<div id="my-participations-block">
        <div>
            <h1>My participations</h1>
            <div class="row text-left mt-5 justify-content-between">
                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>

                 <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>


                <div class="col-4">
                    <div class="fdb-box fdb-touch p-5" id="box-drop-shadow">
                    <h2>Petite pasteque en fleurs</h2>
                    <br>
                    <h5>Node</h5>
                    <p>Far far away, behind the word...</p>
                    <br>
                    <div><p><a class="btn btn-secondary mt-2" style="width:100%" href="https://www.google.com">Go to node</a></div>
                    </div>
                </div>

            
            </div>
        </div>
</div>

