<div class='d-flex flex-column'>
  <div>
    <h4><%= microservice.microservice_category.name %></h4>
    <p><%= microservice.microservice_category.description %></p>
  </div>
  <div>
    <%= render "microservices/media_display", microservice: microservice %>
    <p>You are providing this MICROSERVICE for <%= microservice.price %> $</p>
    <%= link_to "DELETE MICROSERVICE", microservice_path(microservice.id), method: "delete", class: "m-1 btn btn-secondary", remote: true %> 
  </div>
</div>