<div class='d-flex flex-column align-items-center w-100'>
    <h5 class="gg-title"><%= microservice.microservice_category.name %></h5>
    <p><%= microservice.microservice_category.description %></p>

    <%= render "microservices/media_display", microservice: microservice %>
    <h6 class="gg-title mt-3">you are providing this microservice for <%= microservice.price %> $</h6>
    <%= link_to "d e l e t e", microservice_path(microservice.id), method: "delete", class: "text-center gg-button-link mt-5 gg-button btn-lg btn-block", remote: true %> 
</div>