<div class='d-flex flex-column'>
  <div>
    <p><%= microservice.microservice_category.name %></p>
    <p><%= microservice.microservice_category.description %></p>
    <p>You are providing this MICROSERVICE for <%= microservice.price %> $</p>
  </div>
  <div>
    <%= render "microservices/media_display", microservice: microservice %>
    <%= link_to "DELETE MICROSERVICE", microservice_path(microservice.id), method: "delete", class: "m-1 btn btn-secondary", remote: true %> 
</div>