<div id="accordion">    
  <% (@achievements.length).times do |i| %>        
    <div class="card">
      <div class="card-header" id="heading<%=i%>">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="false" aria-controls="collapse<%=i%>"><%=@achievements[i].name%></button>
        </h5>
      </div>                
      <div id="collapse<%=i%>" class="collapsed collapse" aria-labelledby="heading<%=i%>" data-parent="#accordion">
        <% @achievements[i].microservice_categories.each do |microservice_category| %>
          <div class='card-body ' id='microservice_category#<%=microservice_category.id%>'>
            <% if current_creatrix.microservices.any? { |microservice| microservice.microservice_category == microservice_category } %>   
              <%= render "microservices/created", microservice: Microservice.where(creatrix: current_creatrix, microservice_category: microservice_category)[0] %>
            <% else %>
              <%= render "microservices/form", microservice: @microservice, microservice_category: microservice_category%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

