  
    <div id="accordion">    
      <% (@achievements.length-1).times do |i| %>        
      <div class="card">
        <div class="card-header" id="heading<%=i%>">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="false" aria-controls="collapse<%=i%>"><%=@achievements[i].name%></button>
          </h5>
        </div>                
        <div id="collapse<%=i%>" class="collapsed collapse" aria-labelledby="heading<%=i%>" data-parent="#accordion">
          <% @achievements[i].microservice_categories.each do |microservice_category| %>
            <div class='card-body' id='microservice_category#<%=microservice_category.id%>'>
            <% if current_creatrix.microservices.any? { |microservice| microservice.microservice_category == microservice_category } %>   
              <%= render "microservices/created", microservice: Microservice.where(creatrix: current_creatrix, microservice_category: microservice_category)[0] %>
            <% else %>
              <p><%= microservice_category.name %></p>
              <p><%= microservice_category.description %></p>
              <%= form_with model: @microservice, url: microservice_category_microservices_path(microservice_category.id) do |f| %>
                <%= f.label :price %> :
                <%= f.text_field :price, style: "width: 3em"%> $
                <%= f.fields_for :picture  do |p| %>
                    <%= p.file_field :picture , :multiple => true, name: :picture %>
                <% end %>
                <%= f.submit "ADD MICROSERVICE" , class: "ml-3 btn btn-primary" %>
              <%end%>
            <% end %>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

