<div class='container'>
  <h4 class='text-center'>Creatrix's microservices for <%= @current_microservice_category.name %></h4>
  <div class='d-flex flex-wrap justify-content-around'>
  <% @microservices.each do |microservice| %>
    <div class='card mb-3' style='width: 20em'>
      <div class='card-header'>
        <%= render "microservices/media_display", microservice: microservice %>
      </div>
      <div class='card-body'>
        <li>Creatrix: <i><%= microservice.creatrix.email %></i></li>
        <li>Price: <%= (microservice.price.to_f / 100).ceil(2) %> $</li>
      </div>
      <%= link_to "Send request to creatrix", node_microservice_microservice_requests_path(@node.id, microservice.id), method: "post", class: 'card-footer btn btn-primary'%>
    </div>
  <% end %>
  </div>
</div>