<div class="center">
  <h1 class="gg-title mb-5">s i g n | i n</h1>
    <div class="gg-digitale-card">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="d-flex flex-column justify-content-around align-items-center mb-3 w-100">
          <div class="field w-50 d-flex flex-column">
            <%= f.label :email, 'e m a i l', class: "gg-title" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text-input text-center" %>
          </div>

          <div class="field w-50 d-flex flex-column">
            <%= f.label :password, 'p a s s w o r d', class: "gg-title mt-3" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-text-input text-center" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mt-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me do %>
               <div class="ml-1 gg-title">r e m e m b e r | m e</div>
              <% end %>
            </div>
          <% end %>

        </div>
            
        <div class="actions">
          <%= submit_tag('sign in', class: "btn gg-button btn-lg m-3") %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

</div>
