<div id="<%= edit_form_dom_id %>">
  <%= form_with model: @m_statement, method: 'put', authenticity_token: true, class: "nodeform" do |f| %>
    <%= hidden_field_tag(:digitale, digitale) %>
    <%= label_tag(:content, "m i g h t | | | m i g h t | n o t") %>
    <%= text_field_tag(:content, node.title, class: "form-text-input w-50 text-center text-muted") %>
    <%= label_tag(:description, "d e s c r i p t i o n") %>
    <%= text_area_tag(:description, node.content, size: "24x6", class: "form-textarea-input w-50 text-center text-muted") %>
    <%= submit_tag('c r e a t e', class: "btn btn-outline-secondary btn-lg btn-block") %>
  <% end %>
</div>