<%= form_tag node_donated_sums_path(@node.id) do %>
  <%= hidden_field(:donated_sum, :sum, :value => @sum) %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%=@sum%></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%=@sum%>"
          data-locale="auto"></script>
<% end %>rai