<div class='card m-3'>
  <div class='card-header text-center'>
    <%= render "microservices/media_display", microservice: microservice_request.microservice %>
  </div>
  <div class='card-body gg-title d-flex flex-wrap'>
    <div class="w-100">
      <div class="d-flex flex-column align-items-center w-100">
      <div class="text-center w-100" style="margin: auto;">
        <h3 class="holy mb-5 mt-5"><%= microservice_request.achievement.node.digitale.title %></h3>
        <% chapters = ["I", "II", "III", "IIII", "V", "VI", "VII"] %>
        <% i = 0 %>
            <% microservice_request.achievement.node.digitale.m_statements.sort { |a, b| a.id <=> b.id }.each do |m_statement| %>
              <% if m_statement == microservice_request.achievement.node %>
                <h3 class="gg-title mb-5"><%= chapters[i] %></h3>
                <h4 class="gg-title mb-3">m i g h t | | | m i g h t | n o t</h4>
                <h6 class="gg-title mb-3"><%= m_statement.title %></h6>
                <p class="mb-5">
                  <%=microservice_request.achievement.node.content %>
                </p>
                <%= link_to 'learn more', digitale_path(microservice_request.achievement.node.digitale.id), class: "btn-lg btn-block gg-button mb-5" %>
              <% end %>
              <% i += 1 %>
            <% end %>
      </div>
    </div>
    <h4 class="mb-3">r e q u e s t</h4>
      <ul>
        <li>category : <%=microservice_request.achievement.achievement_category.name %></li>
        <li>digit : <%=microservice_request.microservice.microservice_category.name %></li>
        <li>price : <%= microservice_request.microservice.price %> $</li>
      </ul>
    </div>
  </div>
  <div class='card-footer gg-title text-center' id='microservice_request#<%=microservice_request.id%>'>
    <%= render "microservice_requests/form", microservice_request: microservice_request%>
  </div>
</div>