<% if microservice_request.fundraisers.last && microservice_request.fundraisers.last.funded? %>
    <% case microservice_request.microservice.microservice_category.media_type%>
    <% when "image"%>
      <% if microservice_request.delivered? %>
        <p>your work has been delivered </p>
        <%= render "microservice_requests/media_display", microservice_request: microservice_request%>
      <% else %>
        <%= form_with model: microservice_request, url: microservice_request_path(microservice_request.id), method: "patch" do |f| %>
          <%= hidden_field(:microservice_request, :media, :value => true) %>
          <%= f.label :art_work, "a r t w o r k ", style: "color: #999;" %>
          <%= f.fields_for :art_work  do |p| %>
            <%= p.file_field :art_work , :multiple => true, name: :art_work %>
          <% end %>
          <%= submit_tag("upload your work") %>
        <% end %>        
      <% end %>
    <% when "video"%>
      <% if microservice_request.delivered? %>
        <p>your work has been delivered </p>
        <%= render "microservice_requests/media_display", microservice_request: microservice_request%>
      <% else %>
        <%= form_with model: microservice_request, url: microservice_request_path(microservice_request.id), method: "patch" do |f| %>
          <%= hidden_field(:microservice_request, :media, :value => true) %>
          <%= f.label :youtube,"YouTube link : ", style: "color: #999;" %>
          <%= f.text_field :youtube, style: "width: 20em"%>     
          <%= submit_tag("upload your work") %>
        <% end %>          
      <% end %>           
    <% when "sound"%>
      <% if microservice_request.delivered? %>
        <p>your work has been delivered </p>
        <%= render "microservice_requests/media_display", microservice_request: microservice_request%>
      <% else %>
        <%= form_with model: microservice_request, url: microservice_request_path(microservice_request.id), method: "patch" do |f| %>
          <%= hidden_field(:microservice_request, :media, :value => true) %>
          <%= f.label :soundcloude,"SoundCloud embed share code : ", style: "color: #999;" %>
          <%= f.text_field :soundcloude, style: "width: 20em"%> 
          <%= submit_tag("upload your work") %>
        <% end %>        
      <%end%>           
    <% when "text"%>
      <% if microservice_request.delivered? %>
        <p>your work has been delivered</p>
        <%= render "microservice_requests/media_display", microservice_request: microservice_request%>
      <% else %>
        <%= form_with model: microservice_request, id: "form_request#{microservice_request.id}", url: microservice_request_path(microservice_request.id), method: "patch" do |f| %>
          <%= hidden_field(:microservice_request, :media, :value => true) %>
          <%= f.hidden_field :quill, id: "post-quill_request#{microservice_request.id}", required: true %>
          <div class='bg-white'>
            <div id="editor-container" hidden="true"></div>
            <div class='bg-black 'id="editor_request<%=microservice_request.id%>"></div>
          </div>
          <script>
            var form_request = document.querySelector('#form_request<%=microservice_request.id%>');
            var quill = new Quill('#editor_request<%=microservice_request.id%>', {
              theme: 'snow'
            });
            form_request.onsubmit = function() {
              document.querySelector('#post-quill_request<%=microservice_request.id%>').value = document.querySelector('#form_request<%=microservice_request.id%>').querySelector(".ql-editor").innerHTML;
            };
          </script>  
          <%= submit_tag("upload your work") %>
        <% end %>
      <% end %>      
    <% end %>
<% elsif microservice_request.accepted? %>
    <p>funding in progress</p>
<% else %>
  <%= form_with(url: microservice_request_path(microservice_request.id), method: "patch")  do |f| %>
    <%= hidden_field(:microservice_request, :accepted, :value => true) %>
    <%= submit_tag("a c c e p t", class: 'gg-button btn-lg btn-block', style: "background-color: transparent;", id: "request-acceptance") %>
  <% end %>
<%end%>