<%case microservice_category.status(node)%>
<%when "idle"%>
  <h6 class='m-0 text-muted'><%=microservice_category.name%></h6>
<%when "pending"%>
  <h6 class='m-0 gg-title'><%=microservice_category.name%></h6>
    <i>(waiting digit validation)</i>
<%when "funding"%>
  <h6 class='m-0 gg-title'><%=microservice_category.name%></h6>
    <i>(funding in progress)</i>
<%when "delivering"%>
  <h6 class='m-0 gg-title'><%=microservice_category.name%></h6>
    <i>(waiting for delivery)</i>
<%when "delivered"%>
  <h6 class='m-0 thru gg-title'><%=microservice_category.name%></h6>
  <div class="text-muted">(delivered)</div>
  <%if display %>
    <div class="m-3">
      <%=render "microservice_requests/media_display", microservice_request: microservice_category.microservice_request(node)%>
    </div>
  <%end%>
<%end%>
