
<div class="text-center" >

  <i class="float mb-5 gg-title fas fa-5x fa-hand-holding-usd"></i>

  <h1 class="gg-title mb-5">f u n d</h1>

  <h3 class="gg-title mb-3">make the magic happen</h3>

  <h4 class="gg-title mb-3">here you can learn about what a specific digitale is going to talk about</h4>

  <h5 class="gg-label mb-1">and help turning it into a stunning 3D-VR work of fiction</h5>

</div>

<div class='d-flex flex-wrap'>
<div class='col-1'>
  <div id="chapter-sticky" class="chap-1 mb-2">
    <%= link_to "#mchapter-0", class: "gg-button-link" do %>
    <div class="m-auto gg-title"> <h5 class="mb-3"> I </h5></div>
    <%end%>
  </div>
  <div id="chapter-sticky" class="chap-2 mb-2">
    <%= link_to "#mchapter-1", class: "gg-button-link" do %>
    <div class="m-auto gg-title"> <h5 class="mb-3"> II </h5></div>
    <%end%>
  </div>
  <div id="chapter-sticky" class="chap-3 mb-2">
    <%= link_to "#mchapter-2", class: "gg-button-link" do %>
    <div class="m-auto gg-title"> <h5 class="mb-3"> III </h5></div>
    <%end%>
  </div>
  <div id="chapter-sticky" class="chap-4 mb-2">
    <%= link_to "#mchapter-3", class: "gg-button-link" do %>
    <div class="m-auto gg-title"> <h5 class="mb-3"> IIII </h5></div>
    <%end%>
  </div>
  <div id="chapter-sticky" class="chap-5 mb-2">
    <%= link_to "#mchapter-4", class: "gg-button-link" do %>
    <div class="m-auto gg-title"> <h5 class="mb-3"> V </h5></div>
    <%end%>
  </div>
  <div id="chapter-sticky" class="chap-6 mb-2">
    <%= link_to "#mchapter-5", class: "gg-button-link" do %>
    <div class="m-auto gg-title"> <h5 class="mb-3"> VI </h5></div>
    <%end%>
  </div>
  <div id="chapter-sticky" class="chap-7">
    <%= link_to "#mchapter-6", class: "gg-button-link" do %>
    <div class="m-auto gg-title"> <h5 class="mb-3"> VII </h5></div>
    <%end%>
  </div>
</div>
<div class='col'>
  <div class="" style="height: 100%; width: 100%; overflow-x: none;">
    <div class='padding-top d-flex flex-wrap justify-content-center' style="margin: auto; overflow-x: none; padding-top: 45px; padding-bottom: 70px; padding-right: 35px;">
      <div class=col-sm-8>
        <div class="gg-digitale-card text-center">  
          <div style="height: 350px; display: flex; flex-direction: column; justify-content: center;"> 
            <div style="margin: auto;">
              <h2 class="mb-3 gg-label"><%= @digitale.title %></h2>
              <p class="card-text"><%= @digitale.description %></p>
            </div>
          </div>
          <h2 class="gg-label mb-1">w h a t | i f</h2>
          <h3 class="gg-label">
            <p class="card-text mb-3"><%= @digitale.what_if.title %></p>
          </h3>
          <p class="card-text mb-5"><%= @digitale.what_if.content %></p>
          <% chapters = ["I", "II", "III", "IIII", "V", "VI", "VII"] %>
          <% i = 0 %>
          <% @digitale.m_statements.each do |m_statement| %>
            <h3 class="gg-label mb-5"><%= chapters[i] %></h3>
            <h4 class="gg-label mb-3">m i g h t | | | m i g h t | n o t</h4>
            <h6 class="gg-label mb-1"><%= m_statement.title %></h6>
            <p class="card-text mb-5"><%= m_statement.content %></p>
            <% i += 1 %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4 card d-flex flex-column justify-content-around" style='width:500px'>
        <div class='d-flex flex-column justify-content-around text-center'>
          <div class="m-5">
            <i class="mb-3 gg-title fas fa-3x fa-film"></i>
            <% if @fundraiser && !@fundraiser.funded?%>
              <p><%= @current_node.current_microservice_category.name %></p>
              <p><b>$ <%= @fundraiser.current_fundings%></b> raised of $ <%= @fundraiser.goal%> goal</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= @per_cent_status %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @per_cent_status%>%">
                </div>
              </div>
              <b><%= @per_cent_status.ceil %> %</b>
              <%= render "donated_sums/form"%>
            <% elsif  current_creatrix && current_creatrix == @current_node.creatrix %>
              <% if !@current_node.non_achieved.microservice_requests.last%>
                <%= link_to "make request for a #{@current_node.current_microservice_category.name}", node_microservices_path(@current_node.id) , class: "btn gg-button" %>
              <% elsif @current_node.non_achieved.microservice_requests.last.accepted?%>
                <%= link_to "start fundraising #{@current_node.current_microservice_category.name}", node_microservices_path(@current_node.id) , class: "btn gg-button" %>
              <% else %>
                <p class="gg-title">pending microservice request for <%= @current_node.current_microservice_category.name %></p>
              <% end %>
            <% else %>
              <p class="gg-title">no request made yet for <%= @current_node.current_microservice_category.name %></p>
            <%end%>
          </div>
          <% i = 0 %>
          <% @digitale.m_statements.sort { |a, b| a.id <=> b.id }.each do |m_statement| %>
            <% if m_statement == @current_node %>
              <h3 class="gg-title mb-5"><%= chapters[i] %></h3>
              <h4 class="gg-title mb-3">m i g h t | | | m i g h t | n o t</h4>
              <h6 class="gg-title mb-5"><%= @current_node.title %></h6>
            <% end %>
            <% i += 1 %>
          <% end %>
        </div>    
        <div class="card-body">
          <h4 class="gg-title text-center mb-5">a c h i e v e m e n t . s</h4>
          <% @achievement_categories.each do |achievement_category| %>
            <%= render "digitales/achievement_category", achievement_category: achievement_category, node: @current_node, display: false %>
          <% end %>
        </div>
      </div>
    </div>
    <h1 class="gg-title text-center m-5">d i g i t . s</h1>

    <h3 class="gg-title text-center mb-3">here are displayed the creative results of the different microservices having been funded</h3>

    <h4 class="gg-title text-center mb-5">when put together in the right order they turn into a multimedia work of fiction</h4>

    <div class="d-flex flex-column align-items-center">
      <% i = 0 %>
      <% @digitale.m_statements.sort { |a, b| a.id <=> b.id }.each do |m_statement| %>
        <div class="gg-digitale-card text-center " id="mchapter-<%=i%>">
          <h2 class="gg-label mb-5"><%= chapters[i] %></h2>
          <h3 class="gg-label mb-3">m i g h t | | | m i g h t | n o t</h3>
          <h4 class="gg-label mb-1"><%= m_statement.title %></h4>
          <p class="card-text mb-5"><%= m_statement.content %></p>
        </div>
        <div class='container'>
          <%= render "digitales/digit_display", node: m_statement, display: false %>
        </div>
        <% i += 1 %>
      <% end %> 
    </div>
  </div>
</div>
</div>
</div>