<!--

  AS A VISITOR-CREATRIX I SHOULD

    BE ABLE TO SEE THE CONTENT OF THE NODE

      AND HAVE AN ACCESS TO THEIR CREATRIX' PROFILE

    SEE THE CURRENT FUNDRAISER WITH

      THE $ GOAL

      HOW MUCH $ HAS ALREADY BEEN RAISED

      A PROGRESS RANGE WITH A %

      THE ARTIST-CREATRIX' PORTFOLIO FOR THE MICROSERVICE ASKED FOR

    SEE THE LIST OF THE ACHIEVEMENTS 

      WITH THOSE THAT HAVE ALREADY BEEN FUNDED IN A PARTICULAR COLOR

      WITH THE ONE THAT IS CURRENTLY BEING FUNDED AND.OR DELIVERED BEING BOLDED AND BRIGHT

      WITH THOSE ARE YET TO BE FUNDED AND DELIVERED BEING "MUTED"

    HAVE AN ACCES TO THE DIGIT.S THROUGH A TIMELINE

-->
<div class="text-center">
<h1 class="gg-title mb-3">w e l c o m e</h1>

<p class="gg-label p-roboto mb-1">this is the dashboard of a specific digitale</p>

<p class="gg-label p-roboto mb-1">here you can learn about what it's going to talk about</p>

<p class="gg-label p-roboto mb-1">and help turning it into a stunning 3D work of fiction</p>
</div>

<div class="d-flex" style="height: 100%; width: 100%; overflow-x: none;">
  <div class='padding-top d-flex justify-content-around' style="margin: auto; overflow-x: none; padding-top: 45px; padding-bottom: 70px; padding-right: 35px;">

    <div class="ml-3 d-flex flex-column mr-5">
      
          <div class="gg-digitale-card text-center">
              
              <div style="height: 350px; display: flex; flex-direction: column; justify-content: center;"> 
                <div style="margin: auto;">
                    <h1 class="mb-3 gg-label"><%= @digitale.title %></h1>
                    <p class="card-text"><%= @digitale.description %></p>
                </div>
              </div>

              <h2 class="gg-label mb-1">w h a t | i f</h2>
              
              <h3 class="gg-label">
                <p class="card-text mb-3"><%= @digitale.what_if.title %></p>
              </h3>  
              
              <p class="card-text mb-5"><%= @digitale.what_if.content %></p>


              <% chapters = ["I", "II", "III", "IIII", "V", "VI", "VII"] %>
              <% i = 0 %>
              <% @digitale.m_statements.each do |m_statement| %>
                <h3 class="gg-label mb-5"><%= chapters[i] %></h3>
                <h4 class="gg-label mb-3">m i g h t | | | m i g h t | n o t</h4>
                <h6 class="gg-label mb-1"><%= m_statement.title %></h6>
                <p class="card-text mb-5"><%= m_statement.content %></p>
                <% i += 1 %>
              <% end %>

          </div>
         
    </div>

    <div class="card d-flex flex-column justify-content-around" style='width:500px'>
      <div class='d-flex flex-column justify-content-around text-center'>
        
        <div class="m-5">
          <% if @fundraiser && !@fundraiser.funded?%>
            <p><%= @current_node.current_microservice_category.name %></p>
           <p><b>$ <%= @fundraiser.current_fundings%></b> raised of $ <%= @fundraiser.goal%> goal</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= @per_cent_status %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @per_cent_status%>%">
              </div>
            </div>
            <b><%= @per_cent_status.ceil %> %</b>
            <%= render "donated_sums/form"%>
          <% elsif  current_creatrix && current_creatrix == @current_node.creatrix %>
            <% if !@current_node.non_achieved.microservice_requests.last%>
              <%= link_to "Make a request for #{@current_node.current_microservice_category.name} achievement", node_microservices_path(@current_node.id) , class: "btn gg-button" %>
            <% elsif @current_node.achievements.last.microservice_requests.last.accepted?%>
              <%= link_to "Start fundraising #{@current_node.current_microservice_category.name}", node_microservices_path(@current_node.id) , class: "btn gg-button" %>
            <% else %>
              <p>Pending microservice request for <%= @current_node.current_microservice_category.name %></p>
            <% end %>
          <% else %>
            <p>No request yet for <%= @current_node.current_microservice_category.name %></p>
          <%end%>
        </div>

        <% i = 0 %>
        <% @digitale.m_statements.sort { |a, b| a.id <=> b.id }.each do |m_statement| %>
          <% if m_statement == @current_node %>
              <h3 class="gg-label mb-5"><%= chapters[i] %></h3>
              <h4 class="gg-label mb-3">m i g h t | | | m i g h t | n o t</h4>
              <h6 class="gg-label mb-1"><%= @current_node.title %></h6>
          <% end %>
          <% i += 1 %>
        <% end %>

      </div>    

      <div class="card-body">
        <% @achievement_categories.each do |achievement_category| %>
          <h4><%=achievement_category.name%></h4>
          <% achievement_category.microservice_categories.each do |microservice_category| %>
            <%= render "digitales/achievement_category", microservice_category: microservice_category, node: @current_node%>
          <%end%>
        <% end %>
      </div>
    </div>

  </div>
</div>

<h1 class="gg-title text-center mb-3">d i g i t . s</h1>

<p class="gg-label p-roboto text-center">'d i g i t . s' are the different creative microservices being funded by the community gathering around a digitale which allow, when put together in the right order, to turn it into a piece of 3D fiction

 <p class="gg-label p-roboto text-center mb-5">it starts with writing, ends with composing, after having designed, modeled, animated, edited and recorded the voice acting needed to make it happen</p>

 <div class="d-flex flex-column align-items-center">

  <% i = 0 %>
  <% @digitale.m_statements.sort { |a, b| a.id <=> b.id }.each do |m_statement| %>
    <div class="gg-digitale-card text-center">
      <h2 class="gg-label mb-5"><%= chapters[i] %></h2>
      <h3 class="gg-label mb-3">m i g h t | | | m i g h t | n o t</h3>
      <h4 class="gg-label mb-1"><%= m_statement.title %></h4>
      <p class="card-text mb-5"><%= m_statement.content %></p>
    </div>
    <div>
      <div class="mb-3">
        <% @achievement_categories.each do |achievement_category| %>
          <h4><%=achievement_category.name%></h4>
          <% achievement_category.microservice_categories.each do |microservice_category| %>
            <%= render "digitales/achievement_category", microservice_category: microservice_category, node: m_statement%>
          <%end%>
        <% end %>
      </div>  
    </div>
    <% i += 1 %>
  <% end %>
 </div>
