<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>d i g i t a l e s : a silent uprising</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6085f87352.js" crossorigin="anonymous">
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('user-astronaut-solid.svg') %>

  </head>

  <body>
    <div class="gg-body">
        <div class="gg-bg" id="top">
          <div class="black-overlay">
            <%= render "layouts/header"%>
            <%= render "layouts/flash"%>
            <div class="container padding-top padding-bottom"> <%= yield %> </div>
            <%=link_to "#top" do %> 
              <div id="myBtn"> 
                <i class="fa fa-chevron-up fa-1x w-25"></i>
              </div>
            <%end%>
            <%= render "layouts/gg_footer"%>
          </div>
        </div>
    </div>
  </body>

  <%= javascript_include_tag 'application' %>
</html>