<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>D I G I T A L E S</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6085f87352.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>


  </head>

  <body>
  
    <%= render "layouts/header"%>
    <%= render "layouts/flash"%>
    <%= yield %>
    <%= render "layouts/footer"%>
    
  </body>

  <%= javascript_include_tag 'application' %>
</html>