<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>D I G I T A L E S</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">

    
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6085f87352.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
  
    <%= render "layouts/header"%>
    <%= render "layouts/flash"%>
    <%= yield %>
    <%= render "layouts/footer"%>
    
  </body>
<<<<<<< HEAD

  <%= javascript_include_tag 'application' %>
=======
>>>>>>> c97584a61c9f018c8af7a4e11943f89800454acc
</html>