<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>d i g i t a l e s : a silent uprising</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6085f87352.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    
  </head>

  <body>
    <div class="gg-body">
          <div class="gg-bg">
            <%= render "layouts/header"%>
            <%= render "layouts/flash"%>
            <div> <%= yield %> </div>
            <div id="myBtn"> 
              <a href="#hero-background"> <i class="fa fa-chevron-up fa-1x w-25"></i></a>
            </div>
            <%= render "layouts/gg_footer"%>
          </div>
    </div>
  </body>

  <%= javascript_include_tag 'application' %>
</html>