<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>d i g i t a l e s : the silent uprising</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6085f87352.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('user-astronaut-solid.svg') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body style="margin-top: 0px; padding-top: 0px;">
      <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>