<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>d i g i t a l e s : a silent uprising</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6085f87352.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

      <div class="gg-body">
        <div class="gg-bg" id="top">
          <div class="black-overlay">
            <div id="root_body">
              <%= render "layouts/header"%>
              <%= render "layouts/flash"%>

              <div>
                <%= yield %>
              </div>
              
              <%= render 'layouts/gg_footer' %>
            </div>
          </div>
        </div>
      </div>

  </body>
  <%= javascript_include_tag 'application' %>
</html>